# ==================================================
#
# Centralized vHost Schema for LocalOps
#
# Site specific details
#
# 'LOCAL_TLD' Defined Location:
#   - Default set ".dev.io"
#   - PATH: D:/LocalOpsExtender/apache24/conf/httpd.localops.ts.conf
# 
# 'VHOST_TEMPLATE' Defined Location:
#   - D:/LocalOpsExtender/apache24/conf/templates
#
# ==================================================

Define DOMAIN_NAME "local_domain_name"
Define DOMAIN_DOC_ROOT "path/to/mysite/code/folder"
Define LOCAL_DOMAIN "${DOMAIN_NAME}${LOCAL_TLD}"

# Centralized vHost Template
Include "${VHOST_TEMPLATE}/default-vhost.conf"

# End of LocalOps vHost
